ion-card{
    background-color: #F5F5F5;
    border-radius: 20px;
}
ion-card-title{
    color: #424242;
}
h1{
    text-align: center;
    color: #424242;
}
.foot{
    text-align: center;
    font-size: medium;
}