<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <br>
  <ion-icon name="person-outline"></ion-icon>
  <p>1</p>
  <ion-toolbar>
   
    <!--  ruta -->
    <iframe style="margin: 10px 20px 20px 50px; border-radius: 10px;" src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d13304.107970852821!2d-70.55431503771695!3d-33.52668382374716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x9662d10afa23b401%3A0xd85ae1fdd1429cd1!2sVilla%20Santa%20Teresa!3m2!1d-33.5184!2d-70.552864!4m5!1s0x9662d15e35da586b%3A0x17efdd95eb12a8df!2sBosque%20Panul%2C%20La%20Florida%2C%20Regi%C3%B3n%20Metropolitana!3m2!1d-33.5353061!2d-70.5298055!5e0!3m2!1ses-419!2scl!4v1725392477669!5m2!1ses-419!2scl" class="mapa" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!-- fin ruta -->

    <!-- vistas de usaurios -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Toro pezoa </ion-card-title>
        <ion-card-subtitle>san miguel</ion-card-subtitle>
      </ion-card-header>
      
      
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
     
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
     
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      
    </ion-card>
    <!--  fin vista de usuario -->


  </ion-toolbar>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>