#container{
    text-align: center;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 9%;
}

.btn{
    background-color: #229799;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    font-size: 15px;
    margin: 20px 10px 10px 10px;
}
.foot{
    text-align: center;
    font-size: medium;
}