.inputF{
    background-color: rgb(95, 108, 241);
    color: white;
    width: 50%;
    height: 10px;
    border-radius: 15px;
    margin: 10px;
    margin-left: 25%;
    margin-bottom: 20px;
}

#container{
    text-align: center;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 27%;
}

.btn{
    background-color: brown;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    font-size: 15px;
    margin: 20px 10px 10px 10px;
}



h1{
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-bottom: 40px;
}