
<ion-content>
  <div id="container">
    <h1>Iniciar Sesión</h1>
    <ion-input type="text" class="inputI" placeholder="Nombre usuario" [(ngModel)]="usuario.user"></ion-input>
    <ion-input type="password" class="inputI" placeholder="Contraseña" [(ngModel)]="usuario.pw"></ion-input>
    <div class="btnD">
      <button (click)="goSegunda()" ion-button [routerLink]="['/op-usuario']" class="btn">Ingresar</button>
      <button ion-button [routerLink]="['/formulario']" class="btn">Registrarte</button>
    </div>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="foot"></ion-title>
    <div class="square">
      <img src="http://purepng.com/public/uploads/large/purepng.com-car-wheelcar-wheelcarwheeltire-1701527840615iovkz.png" alt="">
    </div>
  </ion-toolbar>
</ion-footer>
